<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springBootDemo.learn.dao.TaskScoreRecordMapper">
  <resultMap id="BaseResultMap" type="com.example.springBootDemo.learn.domain.TaskScoreRecord">
    <result column="task_id" jdbcType="INTEGER" property="taskId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="score" jdbcType="INTEGER" property="score" />
    <result column="operate" jdbcType="VARCHAR" property="operate" />
  </resultMap>



</mapper>