<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springBootDemo.learn.dao.UserInfoMapper">
  <resultMap id="BaseResultMap" type="com.example.springBootDemo.learn.domain.UserInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="account_id" jdbcType="INTEGER" property="accountId" />
    <result column="cur_coin" jdbcType="INTEGER" property="curCoin" />
    <result column="total_coin" jdbcType="INTEGER" property="totalCoin" />
    <result column="day_coin" jdbcType="INTEGER" property="dayCoin" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>




</mapper>